.image {
    margin-top: 20px;
    margin-left: -12px;

    img {
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }
}

.border {
    margin-top: 30px;
}

.all-companies {
    margin-top: 40px;
    margin-left: 10px;

    p {
        font-size: 13px;
        color: #4c50ca;
        cursor: pointer;
    }
}

.independence {
    margin-left: 10px;
    margin-top: 80px;

    p {

        font-size: 23px;
    }
}

.smart1 {
    margin-left: 10px;
    margin-top: 10px;

    p {
        font-size: 14px;
    }
}

.smart2{
    margin-left: 10px;
        margin-top: -18px;
    p1{
        font-size: 14px;
    }
}
.smart3{
    margin-left: 10px;
    p2{
        font-size: 14px;
    }
}

.smart4{
    margin-left: 10px;
    p3{
        font-size: 14px;
    }
}

.detail{
    margin-top: 10px;
    margin-left: 10px;
    p{
        font-size: 13px;
        color: #4c50ca;
        cursor: pointer;
    }
}

.company{
    margin-top: 63px;
    margin-left: 10px;
    p{
        font-size: 13px;
    }
}

.date{
    margin-left: 10px;
    margin-top: -18px;

    p{
            font-size: 20px;
            font-weight: bold;
    }
}